* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.title {
  background-color: blue;
  position: sticky;
  top: 0;
  width: 100%;
}
.app-title {
  color: antiquewhite;
  text-align: center;
}
